<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
    <title>parKING</title>
    <!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="static/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="static/css/owl-carousel.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <h1 class="logo" style="font-variant-caps: unicase;"></h1>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">Info</a></li>
                            <li class="scroll-to-section"><a href="#findmyspot">Find my spot</a></li>
                            <li class="scroll-to-section"><a href="/govern">Government</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h1 style="font-family: 'Maven Pro', sans-serif;">parKING</h1>
                        <p>A smart analytical tool that proves deeper insight for on-street parkign spots.</p>
                        <a href="#about" class="main-button-slider">Get Started</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="static/images/slider-icon.jpg" style="margin-top: 325px; height: 60%; width: auto;"
                            class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/images/left-image.png" style="width: 600px; height: auto; margin-left: -10px;"
                        class="rounded img-fluid d-block mx-auto heatmap" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>Heatmap for the considered metrics</h5>
                    </div>
                    <div class="left-text">
                        <p>We can see a strong correlation between <b>crime, open spaces</b> and <b>overnight
                                parkings</b> suggesting increased crime rates in open spots offering overnight
                            parking.<br>
                            <br> A weaker correlation between <b>crime</b> and <b>number of cameras</b>> suggest that we
                            can reduce the crime rate by installing more cameras near the parking lots.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" style="background-color: #96C7C1;" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5>Decision Tree Model</h5>
                    </div>
                    <p>Decision trees use multiple algorithms to decide to split a node into two or more sub-nodes.
                        Purity of the node increases with respect to the target variable. The decision tree
                        splits the nodes on all available variables and then selects the split which results in most
                        homogeneous sub-nodes.
                    </p>
                    <ul>
                        <li>
                            <img src="static/images/about-icon-01.png" height="70px" width="auto"
                                style="padding-top: 10px;" alt="">
                            <div class="text">
                                <h6>Selection of best spot</h6>
                                <p>Parking spots with more cameras and less crime in the area will give the best rank.
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="static/images/about-icon-02.png" height="70px" width="auto"
                                style="padding-top: 10px;" alt="">
                            <div class="text">
                                <h6>Drawbacks of using Decision Tree</h6>
                                <p>Though we got satisfactory results, we wanted a more stable model for the predictive
                                    analysis.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="static/images/right-image.png" style="width: 500px; height: auto;"
                        class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="static/images/left-image-2.png" style="width: 600px; height: auto; margin-left: -10px;"
                        class="rounded img-fluid d-block mx-auto heatmap" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>Random Forest Classfier</h5>
                    </div>
                    <div class="left-text">
                        <p>Random Forest gave us an prediction with an apprximate accuracy rate of 85%. Thus, we use
                            this classification
                            method as our model to rank the parking spot</b> suggesting increased crime rates in open
                            spots offering overnight
                            parking.<br>
                            <br> <b>Advantage</b> - Random Forest is more robust and accurate than decision trees.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Small Start ***** -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <h5 class="service-title">Average Theft</h5>
                        <p>The average rate of theft in 2020 was one vehicle every 3 minutes.</p>
                        <p>Estimated loss of total value aprrox. $1.6 billion</p>
                    </div>
                    <div class="item service-item">
                        <h5 class="service-title">Vehicles stolen by state</h5>
                        <p>California - 168,323</p>
                        <p>Texas - 84,276</p>
                        <p>Florida - 38,271</p>
                    </div>
                    <div class="item service-item">
                        <h5 class="service-title">Survaillance Cameras</h5>
                        <p>
                            Studies do show that having a surveillance camera system results in a 50% reduction in crime
                            or more.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->





    <!-- ***** Contact Us Start ***** -->
    <section class="section" id="findmyspot" style="padding: 0 50px; padding-top: 50px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="contact-form" style="margin-top: 0px; padding-top: 30px; padding-bottom: 30px;">
                        <form id="contact" action="/" method="post">
                            <div class="row-12" style="
                            padding-top: 0px;
                            padding-bottom: 30px;">
                                <h2 style="color: white;"> Find your parking below</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="lat" type="text" id="lat" placeholder="Enter Latitude"
                                            required="" class="contact-field" value="37.74394224">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="long" type="text" id="long" placeholder="Enter Longitude"
                                            required="" class="contact-field" value="-122.4226694">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Search spots</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" , style="padding: 20px 0;">
            <div class="row-12">
                <div id="map"></div>
            </div>




            <!-- ***** Contact Form End ***** -->
        </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2021 Made with love

                        - parKing</p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- MAP -->

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIUDxBCKH4yrsgWXV1O3JtBeyHMssPlK4&callback=initMap&libraries=&v=weekly"
        async></script>
        <script>
            function initMap() {
        var loc = {{locations}}
        
        console.log(loc)
        // var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        
        const myLatLng = { lat: 37.74394224, lng: -122.4226694};
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 17.5,
          center: myLatLng
        });
        // new google.maps.Marker({
        //   position: myLatLng,
        //   map,
        //   title: "Hello World!",
        // });
        // var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        console.log('zzzzjfhrv');

        // for (var i = 0; i<loc.length; i++){
        //   if(i==20){
        //     break;
        //   }
        //   console.log(loc[i][0], loc[i][1]);
        //   new google.maps.Marker({
        //     position: {lat: loc[i][0], lng: loc[i][1]},
        //     map,
        //     title: "Hello World!",
        //     icon: iconBase + 'parking_lot_maps.png'
        //   });
        // }


      }
    </script>

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="static/js/custom.js"></script>

</body>

</html>